body{
    width: 100%;height: auto;
    border: solid black 1px;
}
.header{
    height: 5vh;
    display: flex;
    align-items: center;
}
.searchbar{
    width: 600px;
    height: 42px;
    display: flex;
    align-items: stretch;
    justify-content:center;
    margin-left: 500px;
}
.content{
    display: flex;   
    gap: 30px;
    padding: 20px;
}

.left{
    width: 35%;
}


.left img{
    width: 100%;
    height: auto;
}

.mid{
    width: 40%;
}


.right{
    width: 25%;
}

}
.mid p{
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
.mid table{
    text-align: center;
    width: 100%;
}

.right-in{
    width: 80%;
    height: auto;
    border: solid black 1px;
    border-radius: 8px;
    margin: 30px;
    text-align: center;
}
.right-in-bottom{
    width: 80%;
    height: auto;
    border: solid black 1px;
    border-radius: 8px;
    margin: 30px;
    text-align: center;
}
.content-bottom{
    width: 100%;
}
input[type="radio"]{
    margin-bottom: 10px;
}
.right-in input[type="text"]{
    margin: 10px;
    width: 80%;height: 80px;
    border: solid black 1px;
    border-radius: 8px;
}
.right-in button{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: yellow;
}
.right-in button:hover{
    cursor: pointer;
    background-color: green;
}
