/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Form Container */
.content {
  background: lightblue;
  border: 2px solid white;
  border-radius: 12px;
  padding: 40px;
  margin-top: 40px;
  width: 100%;
  max-width: 400px; 
  height: auto;  /* responsive */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Form */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Inputs */
.content input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 3px 5px darkblue;
  outline: none;
  font-size: 14px;
}

.content input:focus {
  box-shadow: 0 0 5px darkblue;
}

/* Button */
button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 3px 5px darkblue;
  transition: 0.2s ease;
}

button:hover {
  background-color: darkblue;
  color: white;
}