body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background:linear-gradient(135deg,#667eea, #764ba2, #ff758c);
}
.content{
  background:linear-gradient(135deg,#ff758c,#764ba2);
  height: 45vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 6px 8px 5px black;
}
.form{
  background-color:white ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px black;
}
.content input{
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 8px;
}
.forget { 
  font-size: 13px;
  margin-bottom: 12px;
}
.content button{
  border-radius: 6px;
  width: 80px;
  background: linear-gradient(135deg, #764ba2,#667eea);
}
.content button:hover{
  background:linear-gradient(135deg,#667eea,#ff758c) ;
  cursor: pointer;
}
.form input:focus{
  outline: none;
  border-color: gold;
}
