body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #654ea3, #eaafc8);
}
.container{
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 40%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  background: linear-gradient(135deg, #5ee7df, #b490ca);
}
.container input{
  margin-bottom: 12px;
  border-radius: 8px;
  padding: 8px;
  width: 40%;
}
.address 
{
  height: 50px;
}
.container p{
  font-size: 30px;
  color: #f4fc4e;
}
.container select{
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 8px;
  text-align: left;
}
.container select:hover{
  cursor: pointer;
}
.container button{
  border-radius: 8px;
  width: 100px;
  padding: 6px;
  margin-top: 10px;
}
.container button:hover{
  cursor: pointer;

}