body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(153deg,#f58d7f,#f57fd4);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 40%;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    background: linear-gradient(153deg,#b9375d,#b95937);
}
.container p{
    font-size: 45px;
    color: #ed9111;
}
.container input{
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 10px;
    width: 40%;
}
.gender{
    display: flex;
    margin-bottom: 5px;
    gap: 6px;
    color: white;
}
.subjects{
    display: flex;
    margin-bottom: 20px;
    gap: 6px;
    color: white;
}
label{
    color: #ed9111;
    font-size: 30px;
}
.container button{
    width: 250px;
    border-radius: 6px;
    padding: 6px;
}
.container button:hover{
    cursor: pointer;
}
.declare input{
    width: auto;
    margin-bottom: 10px;
    cursor: pointer;
}
#res{
    font-size: 30px;
    margin-bottom: 20px;
}