body{
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #00dbde, #fc00ff);
}
form{
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40vh;
	width: 40%;
	box-shadow: 5px 5px 5px;
	border-radius: 15px;
	background: linear-gradient(135deg, #00c6ff, #0072ff);
}
form input {
	margin-bottom: 10px;
	width: 50%;
	padding: 5px;
	border-radius: 6px;
	background:linear-gradient(135deg, #a1c4fd, #c2e9fb);
	
}
form input:focus {
	background: gold;
	outline: 2px solid yellow;
}

form button{
	padding: 5px;
	border-radius: 6px;
	width: 20%;
}
.error{
	color: red;
	font-size: 20px;
}