body{
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
img{
	height:80%;
	width:50%;
}
#tooltip{
	position: absolute;
	background: black;
	color: white;
	padding: 10px;
	border-radius: 6px;
	font-size: 14px;
	display: none;
}
