body{
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #ff512f, #dd2476);
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40vh;
	width: 40%;
	background: rgba(255,255,255,0.9);
	border-radius: 12px;
	box-shadow: 5px 5px 15px;
}
form input{
	margin-block: 10px;
	border-radius: 4px;
	padding: 6px;
	width: 300px;
}
form button{
	margin-block: 10px;
	border-radius: 4px;
	padding: 6px;
	width: 100px;
}
