.navbar-text{
  font-size: 18px;

}
/* Back to Top Button */

#topBtn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2000;

    background-color: black;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
/* Hover effect */
#topBtn:hover{
    background-color: #444;
}
